@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}
.contenedor{
    max-width: 1300px;
    margin: auto;
}

header {
    width: 100%;
    height:400px;

    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgba(7, 32, 56, 0.623), rgba(7, 32, 56, 0.705)), url(../imgs/back-2.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgba(7, 32, 56, 0.486), rgba(7, 32, 56, 0.685)), url(../imgs/back-2.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content:center;
    clip-path: polygon(100% 0, 100% 83%, 49% 100%, 0 81%, 0 0);
}

.contenido-header{
    width: 95%;
    height: auto;
}

.header-menu{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height: 100px;
    padding: 0 10px;
}

.logo-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo-header .logo-img{
    margin-right: 10px;
}
.logo-img i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align:center;
    font-size: 20px;
    border-radius:50%;
    color: skyblue;

}

.nombre-titulo h1{
    font-size:1rem;
    color:#fff;
    font-weight: 300px;
}
.nombre-titulo h1 span{
    font-size:1rem;
    color:skyblue;
    font-weight: 300px;
}

.opciones-header{
    display:flex;
    justify-content: space-between;
    align-items:center;

}

.opciones-header li{
    list-style: none;  
    margin-right: 10px;
}

.opciones-header li a{

    text-decoration:none;
    color: white;
    font-size:15px;
    color:#fff;
    font-weight: bolder;
}




/*********************************************************************************/

.Seccion-info1{
    width: 100%;
    display: flex;
    justify-content:center; 
    /* box-shadow: 0 0 50px 50px rgb(255, 255, 255); */
}

.contenido-Seccion-info1{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}


.contenido-Seccion-info1 .img-info{
    width: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.contenido-Seccion-info1 .img-info img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
   /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.383);*/
}


.contenido-Seccion-info1 .texto-info1{
    width: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
}


.contenido-texto-info1  h2{
    font-size:20px;
    color:rgb(87, 87, 87);
    margin-bottom: 20px;
}

.contenido-texto-info1  p{
    font-size:15px;
    text-align:justify;
    color:rgb(87, 87, 87);
    margin-bottom: 20px;
    width:70%;
}