@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}
.contenedor{
    max-width: 1300px;
    margin: auto;
}

header {
    width: 100%;
    height:400px;

    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgba(7, 32, 56, 0.623), rgba(7, 32, 56, 0.705)), url('https://scontent.fhex4-2.fna.fbcdn.net/v/t1.0-9/151304261_457897405574153_3853499556506494316_o.jpg?_nc_cat=108&ccb=3&_nc_sid=a26aad&_nc_ohc=OF7SVTW9YqUAX-7Q2ij&_nc_ht=scontent.fhex4-2.fna&oh=e9e0f8720adaa667e5d9be8fc638697d&oe=605A6693');
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgba(7, 32, 56, 0.486), rgba(7, 32, 56, 0.685)), url('https://scontent.fhex4-2.fna.fbcdn.net/v/t1.0-9/151304261_457897405574153_3853499556506494316_o.jpg?_nc_cat=108&ccb=3&_nc_sid=a26aad&_nc_ohc=OF7SVTW9YqUAX-7Q2ij&_nc_ht=scontent.fhex4-2.fna&oh=e9e0f8720adaa667e5d9be8fc638697d&oe=605A6693');
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content:center;
}

.contenido-header{
    width: 95%;
    height: auto;
}

.header-menu{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height: 100px;
    padding: 0 10px;
}

.logo-header{
    display:flex;
    justify-content:space-between;
    align-items:center;


}
.logo-header .logo-img{
    margin-right: 10px;
}
.logo-img i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: whitesmoke;
    text-align:center;
    font-size: 20px;
    border-radius:50%;
    color: rgb(133, 133, 133);

}

.logo-header .nombre-titulo{

}
.nombre-titulo h1{
    font-size:18px;
    color:#fff;
    font-weight: 300px;
}

.opciones-header{
    display:flex;
    justify-content: space-between;
    align-items:center;

}

.opciones-header li{
    list-style: none;  
    margin-right: 10px;
}

.opciones-header li a{

    text-decoration:none;
    color: white;
    font-size:15px;
    color:#fff;
    font-weight: bolder;
}




/*********************************************************************************/

.Seccion-info1{
    width: 100%;
    display: flex;
    justify-content:center; 
    box-shadow: 0 0 50px 50px rgb(255, 255, 255);
}

.contenido-Seccion-info1{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}


.contenido-Seccion-info1 .img-info{
    width: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.contenido-Seccion-info1 .img-info img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
   /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.383);*/
}


.contenido-Seccion-info1 .texto-info1{
    width: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
}


.contenido-texto-info1  h2{
    font-size:20px;
    color:rgb(87, 87, 87);
    margin-bottom: 20px;
}

.contenido-texto-info1  p{
    font-size:15px;
    text-align:justify;
    color:rgb(87, 87, 87);
    margin-bottom: 20px;
    width:70%;
}